rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /comments/{doc} {
      allow read, write: if true;
    }
    match /leaderboard/{doc} {
      allow read, write: if true;
    }
  }
}
